* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  body {
    margin: 20px;
    background-image: url(../img/desktop-1600x900.jpg);
    background-size: cover;
    background-attachment: fixed;
  }

  #logo {
        width: 50px;
  }

  #logs {
    background-color: rgba(0, 0, 0, 0.25);
    color: antiquewhite;
  }

  .footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    

  }

  h1 {
    color: aliceblue;
    margin-left: 20px;
  }